@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.hero{
    background-image: url('../image/cow.webp');
    width: full;
    height: 500px;
    margin: 10px;
    border-radius: 20px;
}

 .hero h1 {
    text-align: center;
    color: rgb(201, 235, 246);
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    word-spacing: 10px;
    letter-spacing: 10px;
    padding-top: 20px;
}
.artical, .cow{
    /* box model layout */
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px; */

    margin: 60px auto;
    border: 10px solid yellow ;
    border-radius: 40px;
    padding: 20px;
    /* background-color: aqua; */
    background: linear-gradient(10deg,pink,red, rgb(96, 96, 220), white);

}

.artical h2, .cow{
    text-align: center;
    font-size: 28px;
    border-color: blueviolet;
    border-style: dotted;
    border-width: 5px;
}

.artical p {
   font-size: 28px;
}
.artical p .impt{
font-size: 2rem;
}
.cows{
    display: flex;
    gap: 20px;
}
.cows div{
    width: 300px;
}
.cows img{
    width: 100%;
}