*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image: url('../image/cow.webp');
    width: 800px;
    height: 500px;
}

 .hero h1 {
    color: red;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    word-spacing: 10px;
    letter-spacing: 10px;
    padding-top: 20px;
}
